.App {
  text-align: center;
  font-family: Teko;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.footer{
  min-height: 5em;
  color: white;
  text-align: center;
  font-size: 1.5em;
  background-color:black;
  padding-top:20px;
}

.App-header-text{
  color: white;
    font-size: 5vw;
    line-height: 0rem;
    font-family: Teko;
    font-style: normal;
    font-weight: bold;
    padding-top: 2vw;
    text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
    text-align: center !important;
    padding-bottom: 2vw;
}
.App-header-text-mobile{
  color: white;
    font-size: 3rem;
    line-height: 0rem;
    font-family: Teko;
    font-style: normal;
    font-weight: bold;
    padding-top: 20px;
    text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
    text-align: center !important;
    padding-bottom: 55px;
}
#App-logo-text{
    color: rgba(255,199,0,1);
    font-size: 5vw;
    line-height: 0rem;
    font-family: Teko;
    font-style: normal;
    font-weight: bold;
    padding-top: 5vw;
    text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
    text-align: center !important;
    padding-bottom: 3vw;
}
#App-logo-text-mobile{
  color: rgba(255,199,0,1);
  font-size: 3rem;
  line-height: 0rem;
  font-family: Teko;
  font-style: normal;
  font-weight: bold;
  padding-top: 10px;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
  text-align: center !important;
}
#App-logo-text-mobile-first{
  color: rgba(255,199,0,1);
  font-size: 3rem;
  line-height: 0rem;
  font-family: Teko;
  font-style: normal;
  font-weight: bold;
  padding-top: 30px;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
  text-align: center !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
