body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: 'linear-gradient(black, grey)' !important;
  height:'100%' !important;
}

.background{
  background: 'linear-gradient(black, grey)' !important;
  height:'100%' !important;
}

#grad {
  background: linear-gradient(red, yellow);
}